pre::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

pre::-webkit-scrollbar-track {
  background: #1e1e1e;
}

pre::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
  border: 3px solid #1e1e1e;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #608b4e;
}

.token.punctuation {
  color: #808080;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #b5cea8;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ce9178;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #d4d4d4;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #c586c0;
}

.token.function,
.token.class-name {
  color: #dcdcaa;
}

.token.regex,
.token.important,
.token.variable {
  color: #9cdcfe;
}

@media (max-width: 1023px) {
  .sticky {
    position: static;
  }
}
